@keyframes invalid-shake {
    0%, 14% {transform: rotate(0deg)}
    1%, 5%, 9%, 13% {transform: rotate(-6deg)}
    3%, 7%, 11% {transform: rotate(6deg)}
}


body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    
    .page-content {
        width: inherit;
        height: inherit;
        
        .game-wrapper {
            width: 100%;
            height: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            row-gap: 4rem;

            .game-deck-wrapper {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 2rem;
            }

            .game-board {
                width: 100%;

            }
        }
    }
}

.game-token {
    width: 6rem;
    height: 9rem;
    background-color: $token-bg-base;

    // bevel effect
    $box-shadow-inset: 0.35rem;
    box-shadow: inset $box-shadow-inset $box-shadow-inset 0 0 $token-bg-3, inset $box-shadow-inset*-1 $box-shadow-inset*-1 0 0 $token-bg-6;

    position: relative;

    &.invalid {
        animation: invalid-shake 5s infinite;
    }

    &::after {
        content: attr(token-value);
        position: absolute;
        inset: 1rem 10%;
        width: 80%;
        aspect-ratio: 1/1;
        border-radius: 50%;

        background-color: $token-bg-6;
        box-shadow: inset -.5rem -.5rem 1rem -1rem $token-bg-7;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 2.5rem;
        font-weight: bold;
        white-space: nowrap;
    }

    // Set joker icon
    &[token-value="-1"]::after {
        content: "\f118"; // Font Awesome Icon: fa-sharp fa-regular fa-face-smile
        font-family: "Font Awesome 6 Sharp";
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
    }

    // Set token color
    &[token-color="1"] { color: $token-color-1;}
    &[token-color="2"] { color: $token-color-2;}
    &[token-color="3"] { color: $token-color-3;}
    &[token-color="4"] { color: $token-color-4;}

    // Set token text
    &::before {
        content: "Rummikub";
        position: absolute;
        bottom: 1rem;
        width: 100%;
        height: fit-content;

        text-align: center;
        font-family: "Charm", cursive;
        font-size: 1rem;
        color: transparent;

        text-shadow: 0px 0px 1px $token-bg-base, 0px 0px $token-bg-9;
    }
}

.game-board-row {
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.game-board-cell, .game-deck-cell {
    width: 6rem;
    height: 9rem;

    &:not(:has(.game-token)) {
        background-color: $gray-100;
        border-radius: 1rem;
        overflow: hidden;
    }
}

.game-board-separator {
    width: 1.5rem;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    &.visible::after {
        background-color: var(--bs-success); opacity: .5;
    }

    &.separate {
        cursor: pointer;
        
        &::after {background-color: var(--bs-blue); opacity: .5;}
    }

    &.hover::after {
        opacity: .8;
    }

    &::after {
        content: "";
        display: block;

        width: .5rem;
        height: 8rem;
        border-radius: 1rem;
        overflow: hidden;
        transition: opacity 150ms ease-in-out;

        opacity: 0;
        background-color: transparent;
    }
}

.game-deck {
    padding: .75rem;
    display: flex;
    column-gap: 1rem;
    background-color: $gray-800;
    border-radius: 1.75rem;
}

.game-deck-cell:not(:has(.game-token)) {
    background-color: $gray-700;
}

#dragging_token_wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 1000;
    pointer-events: none;

    .game-token {
        position: absolute;
    }
}